#header {
		#navigation {
		border-bottom: 3px solid #77d;
		ul {
			background-color: #ddd;
			li {
			display: inline;
			list-style-type: none;
			padding: 5px;
			a {
			  color: #000;
				text-decoration: none;
			  &:hover {
			    color: #fff;
			    background-color: #000;
				}
			}
			
				&.selected {
					font-weight: bold;
					a {
						color: red;
					}
				}
			}
		}
	}
}
