fieldset {
	border: none;
	legend {
		font-size: 1.7em;
		font-weight: normal;
		color: #505050;
		padding-left: 146px;
	}
}
.field {
	padding: 1em 1em 0 1em;
	label {
		display: inline-block;
		width: 120px;
		padding-right: 12px;
		text-align: right;
		vertical-align: top;
	}
	br {
		display: none;
	}
	div {
		display: inline;
	}
}
.actions {
	padding: 12px 12px 0 146px;
}
#error_explanation {
	border: 1px;
	color: red;
	h2 {
		color:red;
	}
}